<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OpenGL Category"
            id="com.geofx.opengl.view">
      </category>
      <view
            name="OpenGL View"
            icon="icons/sample.gif"
            category="com.geofx.opengl.view"
            class="com.geofx.opengl.view.OpenGLView"
            id="com.geofx.opengl.view.OpenGLView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.geofx.opengl.view.OpenGLView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.geofx.opengl.view.actionSet"
            label="Select Scene"
            visible="true">
         <menu
               id="sceneSelect"
               label="&amp;OpenGL">
            <separator name="selectGroup"/>
         </menu>
         <action
               class="com.geofx.opengl.view.SceneSelect"
               icon="icons/ogl_sm_square.gif"
               id="com.geofx.opengl.view.actions.SelectScene"
               label="&amp;Select Scene"
               menubarPath="sceneSelect/selectGroup"
               toolbarPath="selectGroup"
               tooltip="Select Scene"/>
      </actionSet>
   </extension>
</plugin>
